<style>
  .Jscode .counter {
    z-index: 1;
    width: 600px;
    height: 500px;
    margin-left: -300px;
    position: relative;
    left: 50%;
    top: 50px;
    background-color: lightgray;
    text-align: center;
    color: white;
    font-family: sans-serif;
    box-shadow: 7px 7px 5px black;
  }

  .Jscode p {
    font-size: 70px;
    position: relative;
    top: 40px;
    font-weight: 500;
  }

  #button2 {
    display: block;
    background-color: rgb(23, 23, 145);
    width: 160px;
    font-size: 18px;
    height: 30px;
    margin-left: -80px;
    position: relative;
    top: 50px;
    left: 50%;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px black;
  }

  #button1 {
    display: block;
    background-color: rgb(23, 23, 145);
    width: 160px;
    font-size: 18px;
    height: 30px;
    margin-left: -80px;
    position: relative;
    top: 35px;
    left: 50%;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px black;
  }

  .Jscode h1 {
    position: relative;
    top: 40px;
    color: white;
    font-size: 48px;
    font-family: monospace;
  }
  #HexColor {
    padding: 100px;
    text-align: center;
    margin: 0 auto;
  }
  .background_color{
padding:100px 0;
display:flex;
justify-content:center;
}
</style>
<section class="Jscode">
  <div class="container">
    <div class="counter">
      {% if section.settings.headline != blank %}
        <h1>{{ section.settings.headline }}</h1>
      {% endif %}
      <p id="para"></p>
      <button id="button1" onclick="bu1()">Add Count</button>
      <button id="button2">Lower Count</button>
    </div>

    <div id="HexColor">
      <h2>Hex Color:<span id="hex"></span></h2>
      <button onclick="changeColor()">Change color hexically 🙂</button>
    </div>

    <div class="background_color">
        <button id="bg_color">BG Color</button>
        </div>
  </div>
</section>
<script>
  var no = document.getElementById('para');
  no.innerText = 0;

  function numberCounter() {
    if (no.innerText > 0) {
      no.style.color = 'green';
    } else if (no.innerText < 0) {
      no.style.color = 'red';
    } else if (no.innerText == 0) {
      no.style.color = 'white';
    }
  }
  document.getElementById('button1').addEventListener('click', function () {
    no.innerText = Number(no.innerText) + Number(1);
    numberCounter();
  });

  document.getElementById('button2').addEventListener('click', function () {
    no.innerText = Number(no.innerText) - Number(1);
    numberCounter();
  });

  var body = document.getElementById('HexColor').style;

  function makeid(length) {
    var result = '#';
    var characters = 'ABCDEF123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }

  function changeColor() {
    const text = document.getElementById('hex');
    const color = makeid(6);

    text.innerText = color;
    body.backgroundColor = color;
  }

  var bg_color = document.getElementById('bg_color'); 
  var background_color = document.querySelector('.background_color'); 

  function background(){
 var colors = ["Red", "Green", "Blue", "Pink","Yellow"];
 var colorlength = colors.length;
 var bgColor = colors[Math.floor(Math.random() * colorlength)];
 
 background_color.style.background= bgColor;

}
  bg_color.addEventListener('click', background);
</script>
{% schema %}
{
  "name": "Jscode",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "headline",
      "default": "Counter"
    }
  ],
  "presets": [{ "name": "Jscode" }]
}
{% endschema %}
